<h1>BEM VINDO AO SISTEMA ADMINISTRADOR</h1>


<% @payments.each do |payment| %>
  <%= payment.pay_method %>
<%end%>
<%= link_to "Criar metodo de pagamento" ,new_payment_path%>
<%= link_to "Lancar aula avulsa para aluno", search_client_index_path %>